pipeline/set variable activity.json
{
	"name": "set variable activity",
	"properties": {
		"activities": [
			{
				"name": "Length",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Length",
					"value": 10
				}
			},
			{
				"name": "Breadth",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Breadth",
					"value": 20
				}
			},
			{
				"name": "Area Calculation",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Length",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Breadth",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Area",
					"value": {
						"value": "@mul(variables('Length'),variables('Breadth') )",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"Length": {
				"type": "Integer"
			},
			"Breadth": {
				"type": "Integer"
			},
			"Area": {
				"type": "Integer"
			}
		},
		"annotations": []
	}
}